// SIDEBAR
.sidebar {
  background: $main-color;
  position: fixed;
  padding: 2rem;
  display: flex;
  z-index: 1;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  top: calc(100% - 10rem);
  transition: all 0.4s ease;

  .profile-block {
    position: absolute;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .nav-content {
    align-self: center;
    margin: 0 auto;
  }

  &.opened {
    top: 0;
  }

  @include media('xl') {
    top: 0;
    width: 25rem;
    flex-direction: column;
    justify-content: space-around;

    .profile-block { 
      position: static;
      flex: 0;
    }
  }
}

.mobile-trigger {
  position: absolute;
  z-index: 1;
  top: 4rem;
  right: 3.5rem;
}

.button-menu {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  > .line {
    display: block;
    height: 2px;
    background: #fff;
    transform: scaleX(1);
    transform-origin: right;
    transition: transform ease .4s;
    
    &:last-child {
      margin-top: 0.5rem;
      transform: scaleX(0.6);
    }
  }

  &.active {
    > .line {
      &:first-child {
        transform: scaleX(0.6);
      }
      &:last-child {
        transform: scaleX(1);
      }
    }
  }
}

@include media('xl') {
  .button-menu {
    position: static;
    display: none;
  }
}

// PROFILE BLOCK
.profile-block {
  display: flex;
  gap: 10px;
  
  > .photo {
    display: block;
    width: 6rem;
    height: 6rem;
    position: relative;

    > .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.4rem;
      overflow: hidden;
    }
  }

  > .info {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > .name {
      font-size: $font-size-m;
      font-weight: 600;
      color: $main-text;
      margin-bottom: 0.5em;
    }

    > .edit-link {
      font-size: 1rem;
      font-weight: 500;
      color: $second-text;
      display: flex;
      align-items: center;

      &:hover {
        color: $main-text;
      }
    }

    > .edit-link > i {
      font-size: $font-size-m;
      margin-left: 0.5rem;
    }
  } 
}

.nav-wrapper {
  display: flex;
  justify-content: center;

  > .list {
    width: 15rem;
    padding-top: 2.5rem;
    border-top: 1px solid $second-text;
    margin-bottom: 5rem;
    > .item {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    > .item > .link {
      font-size: $font-size-s;
      color: $second-text;

      display: inline-flex;
      align-items: center;
      gap: 1.5rem;

      > i {
        font-size: $font-size-m;
      }

      &:hover {
        color: $main-text;
      }
    }
  }
}