@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300&display=swap");
.content-top > .title, .playlist > .title, .views > .title, .tracks > .title, .track > .artist {
  font-weight: 600;
  color: #e5e5e5e7; }

@-webkit-keyframes leftright {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(5px); }
  100% {
    transform: translateX(0); } }

@keyframes leftright {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(5px); }
  100% {
    transform: translateX(0); } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.4s ease; }

a:focus,
button:focus,
input:focus,
text:focus,
textarea:focus {
  outline: none; }

img {
  max-width: 100%;
  display: block; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 576px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 768px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 992px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

html {
  font-size: 62.5%; }

html,
body {
  font-family: "Montserrat", sans-serif; }

body {
  background: #101329;
  background: linear-gradient(90deg, #101329 0%, #1f1734 100%); }

.wrapper {
  display: flex;
  overflow-x: hidden; }

.-scrollstyle::-webkit-scrollbar {
  border-radius: 10px;
  height: 1rem;
  background-color: #20183a;
  opacity: 0.8; }

.-scrollstyle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #200f56; }

.sidebar {
  background: #040517;
  position: fixed;
  padding: 2rem;
  display: flex;
  z-index: 1;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  top: calc(100% - 10rem);
  transition: all 0.4s ease; }
  .sidebar .profile-block {
    position: absolute;
    flex: 0 0 100%;
    max-width: 100%; }
  .sidebar .nav-content {
    align-self: center;
    margin: 0 auto; }
  .sidebar.opened {
    top: 0; }
  @media (min-width: 1200px) {
    .sidebar {
      top: 0;
      width: 25rem;
      flex-direction: column;
      justify-content: space-around; }
      .sidebar .profile-block {
        position: static;
        flex: 0; } }

.mobile-trigger {
  position: absolute;
  z-index: 1;
  top: 4rem;
  right: 3.5rem; }

.button-menu {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none; }
  .button-menu > .line {
    display: block;
    height: 2px;
    background: #fff;
    transform: scaleX(1);
    transform-origin: right;
    transition: transform ease .4s; }
    .button-menu > .line:last-child {
      margin-top: 0.5rem;
      transform: scaleX(0.6); }
  .button-menu.active > .line:first-child {
    transform: scaleX(0.6); }
  .button-menu.active > .line:last-child {
    transform: scaleX(1); }

@media (min-width: 1200px) {
  .button-menu {
    position: static;
    display: none; } }

.profile-block {
  display: flex;
  gap: 10px; }
  .profile-block > .photo {
    display: block;
    width: 6rem;
    height: 6rem;
    position: relative; }
    .profile-block > .photo > .image {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 0.4rem;
      overflow: hidden; }
  .profile-block > .info {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .profile-block > .info > .name {
      font-size: 1.4rem;
      font-weight: 600;
      color: #e5e5e5e7;
      margin-bottom: 0.5em; }
    .profile-block > .info > .edit-link {
      font-size: 1rem;
      font-weight: 500;
      color: #F5f5f555;
      display: flex;
      align-items: center; }
      .profile-block > .info > .edit-link:hover {
        color: #e5e5e5e7; }
    .profile-block > .info > .edit-link > i {
      font-size: 1.4rem;
      margin-left: 0.5rem; }

.nav-wrapper {
  display: flex;
  justify-content: center; }
  .nav-wrapper > .list {
    width: 15rem;
    padding-top: 2.5rem;
    border-top: 1px solid #F5f5f555;
    margin-bottom: 5rem; }
    .nav-wrapper > .list > .item:not(:last-child) {
      margin-bottom: 1.5rem; }
    .nav-wrapper > .list > .item > .link {
      font-size: 1.2rem;
      color: #F5f5f555;
      display: inline-flex;
      align-items: center;
      gap: 1.5rem; }
      .nav-wrapper > .list > .item > .link > i {
        font-size: 1.4rem; }
      .nav-wrapper > .list > .item > .link:hover {
        color: #e5e5e5e7; }

.main-content {
  height: calc(100vh - 10rem);
  padding: 0 2rem; }
  @media (min-width: 1200px) {
    .main-content {
      height: auto;
      max-width: 110rem;
      width: calc(100vw - 20rem);
      margin-left: 25rem;
      padding-left: 7.5rem;
      padding-right: 2.5rem; } }

.search-form {
  display: flex;
  padding: 2rem 0 0;
  margin-bottom: 2.5rem; }
  .search-form > .prefix {
    margin-right: 2rem; }
    .search-form > .prefix > .far {
      font-size: 1.8rem;
      color: #F5f5f555; }
  .search-form > .field {
    width: 100%;
    background: transparent;
    border: none;
    color: #F5f5f555;
    font-size: 1.4rem; }
    .search-form > .field::-moz-placeholder {
      color: currentColor; }
    .search-form > .field:-ms-input-placeholder {
      color: currentColor; }
    .search-form > .field::placeholder {
      color: currentColor; }

.content-top {
  margin-bottom: 3rem; }
  .content-top > .title {
    font-size: 1.8rem;
    margin-bottom: 2rem; }

.playlists-wrapper {
  display: flex;
  gap: 2.5rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1.5rem; }
  .playlists-wrapper > .playlist {
    flex-shrink: 0;
    max-width: 29.5rem;
    width: 100%; }
    .playlists-wrapper > .playlist > .image {
      height: 17.5rem; }

.playlist > .image {
  display: block;
  overflow: hidden;
  border-radius: 1.5rem;
  margin-bottom: 1rem; }
  .playlist > .image > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.6;
    transform-origin: center;
    transition: all 0.4s ease; }
  .playlist > .image:hover > img {
    opacity: 1;
    transform: scale(1.2); }

.playlist > .title {
  font-size: 1.6rem;
  margin-bottom: 0.5rem; }

.playlist > .track-quantity {
  font-size: 1.2rem;
  font-weight: 400;
  color: #F5f5f555; }

.content-bottom {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem; }
  .content-bottom .views,
  .content-bottom .tracks {
    width: 100%; }
  @media (min-width: 1200px) {
    .content-bottom {
      padding-bottom: 0; }
      .content-bottom .views,
      .content-bottom .tracks {
        flex: 1 1 50%;
        max-width: 50%; } }

.views > .title {
  font-size: 1.8rem;
  margin-bottom: 2rem; }

.views .view-list {
  max-width: 32.5rem; }

.view {
  margin-bottom: 2.5rem; }
  .view > .link {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    opacity: 0.6; }
    .view > .link > .photo {
      display: block;
      width: 4rem;
      height: 4rem;
      position: relative;
      border-radius: 0.4rem;
      overflow: hidden; }
      .view > .link > .photo > .image {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .view > .link > .info > .name {
      font-size: 1.4rem;
      font-weight: 400;
      color: #e5e5e5e7;
      margin-bottom: 0.5rem; }
    .view > .link > .info > .date {
      font-size: 1rem;
      color: #F5f5f555;
      letter-spacing: 0.15rem; }
    .view > .link > .albums {
      margin-left: auto;
      font-size: 1rem;
      color: #F5f5f555;
      letter-spacing: 0.15rem; }
    .view > .link:hover {
      opacity: 1; }

.tracks > .title {
  font-size: 1.8rem;
  margin-bottom: 2rem; }

.tracks .tracks-wrapper {
  display: flex;
  gap: 1.5rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1.5rem; }
  .tracks .tracks-wrapper > .track {
    flex-shrink: 0;
    max-width: 10rem;
    width: 100%; }
    .tracks .tracks-wrapper > .track > .photo {
      height: 10rem; }

@media (min-width: 1200px) {
  .tracks {
    width: calc(100% - 10rem); } }

.track {
  opacity: 0.6;
  transition: all 0.4s ease; }
  .track:hover {
    opacity: 1; }
  .track > .photo {
    display: block;
    overflow: hidden;
    margin-bottom: 1rem; }
    .track > .photo > img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .track > .artist {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
    margin-bottom: 0.5rem; }
  .track > .song {
    font-size: 1rem;
    font-weight: 400;
    color: #F5f5f555;
    letter-spacing: 0.15rem; }
